{% extends "base.html" %}
{% block title %}Đăng ký{% endblock  %}
{%block content%}
<div class="form-container">
  <h2>Đăng ký</h2>
  <input type="text" id="username" placeholder="Username">
  <input type="email" id="email" placeholder="Email">
  <input type="password" id="password" placeholder="Mật khẩu">
  <input type="password" id="confirm" placeholder="Nhập lại mật khẩu">
  <button onclick="register()">Đăng ký</button>
  <h5><a href="/accounts/login/">đăng nhập ngay</a></h5>
</div>
{% endblock %}