{% extends "base.html" %}
{% block title %}Thay đổi mật khẩu{% endblock  %} 
{%block content%}
<div class="form-container">
  <h2>Thay đổi mật khẩu</h2>
  <input type="text" id="email" placeholder="Email">
  <input type="password" id="password" placeholder="Mật khẩu">
  <input type="password" id="newpassword" placeholder="Mật khẩu mới">
  <input type="password" id="newpassword" placeholder="Xác nhận mật khẩu mới">
  <button onclick="changepassword()">Thay đổi mật khẩu</button>
</div>
{% endblock %}
