{% load static %}

{% if user %}
    {{ user }}
{% endif %}


<!DOCTYPE html>
<html lang="vi">
<head>
    
</head>




<script src="{% static 'cookie.js' %}"></script>
<script src="{% static 'client.js' %}"></script>
<script>
(async function initialize() {
    const user = getCookie('user');
    if (user && user.user_id) {
        try {
            connectWebSocket(parseInt(user.user_id));
            startHeartbeat();
            window.addEventListener('beforeunload', () => {
                disconnectWebSocket();
            });
            
            // Kiểm tra kết nối định kỳ
            setInterval(() => {
                const status = getConnectionStatus();
                console.log("Connection status:", status);
                
                if (status === "closed" || status === "closing") {
                    connectWebSocket(parseInt(user.user_id));
                }
            }, 5000);
            
        } catch (error) {
            console.error("Error during WebSocket initialization:", error);
        }
    } else {
        console.log("Không tìm thấy user_id để kết nối WebSocket");
    }
})();





</script>